@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
}

.unable{
   display: none;
}

.container{
    width: 80%;
    margin: 10px auto;
    box-sizing: border-box; 
}

.cal{
    width: 30%;
    height:80vh;
    margin: 10px auto;
    display: flex;
    flex-direction:column;
    padding: 10px;
    background-color: #395b64c4;
}

.cal__view{
   padding: 20px;
   color: #E7F6F2;
   font-size: 30px;
}



.cal__buttons{
  display: flex;
  flex-direction: column;
  height: 100%;
}


.cal__numbers{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   height: 60%;
   row-gap: 10px;
}

.cal__numbers button{
   justify-self: center;
}

.cal__operators{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   height: 20%;
}


.cal__btn{
   border: none;
   color: #E7F6F2;
   background-color: #2C3333;
   border-radius: 70%;
   font-size: 20px;
   width: 60px;
   height: 60px;
}

.cal__btn--white{
   background-color: #A5C9CA;
   color: #2C3333;
}



.footer{
   padding: 20px;
   display: flex;
   justify-content: flex-end;
}

.versionApp{
   font-size: 24px;
   font-family: "Roboto", sans-serif;
   font-weight: 100;
   font-style: normal;
}

/* media query to smartphone */
@media (min-width:610px)  and (max-width:950px){
    .cal{
       width: 60%;
    }
}
@media (min-width:300px) and (max-width:600px){
     .cal{
       width: 100%;
     }
}