*{
  padding: 0;
  margin: 0;
}

.unable{
   display: none;
}

.container{
    width: 80%;
    margin: 10px auto;
    box-sizing: border-box; 
}

.cal{
    width: 30%;
    height:80vh;
    margin: 10px auto;
    display: flex;
    flex-direction:column;
    padding: 10px;
    background-color: #395b64c4;
}

.cal__view{
   padding: 40px;
   color: #E7F6F2;
}


.cal__buttons{
  display: flex;
  flex-direction: column;
  height: 100%;
}


.cal__numbers{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   height: 60%;
   row-gap: 10px;
}

.cal__numbers button{
   justify-self: center;
}

.cal__operators{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   height: 20%;
}


.cal__btn{
   border: none;
   color: #E7F6F2;
   background-color: #2C3333;
   border-radius: 70%;
   font-size: 20px;
   width: 60px;
   height: 60px;
}

.cal__btn--white{
   background-color: #A5C9CA;
   color: #2C3333;
}

