*{
  padding: 0;
  margin: 0;
}

.container{
    width: 80%;
    margin: 10px auto;
    box-sizing: border-box; 
}

.cal{
    width: 50%;
    height:70vh;
    margin: 10px auto;
    display: flex;
    flex-direction:column;
    padding: 10px;
    border: 1px solid black;
}

.cal__view{
   padding: 40px;
}

.cal__buttons{
   display: grid;
   grid-template-columns: 1fr 100px;
   column-gap: 10px;
   border: 1px solid black;
   height: 100%;
}


.cal__numbers{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   column-gap: 20px;
   row-gap: 5px;
}

.cal__operators{
   display: grid;
   row-gap: 10px;
}




